<div class="relative-book-rate">
  <span id="star-rate-<%= book.id %>"></span>
  <script>
    $('#star-rate-<%= book.id %>').raty({
      size: 36,
      starOff: '<%= asset_path('star-off.png') %>',
      starOn: '<%= asset_path('star-on.png') %>',
      readOnly: true,
      score: <%= book.rate %>,
    });
  </script>
</div>